h1 {
    font-weight: 900;
    text-align: center;
    font-size: 60px;
    padding: 50px;
    background-image: url(../img/formation-java-jee.webp);
    background-position: center;
    color: #ff7b00;

}

h2 {
    padding-left: 20px;
    padding-bottom: 0;
    font-size: 35px;
    text-decoration: underline red;
}

nav ul {
    list-style-type:none;
    padding:20px;
    margin: 20px;
    text-align: left;
    text-transform: uppercase;
    font-weight: 500;
}


nav ul li a {
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    color: black;
    transition: 0.5s;
}

nav ul li a:hover {
    background-color: #ff7b00;
    color: black;
    text-decoration: double;
    border-top-color: whitesmoke;
    border-bottom-color: whitesmoke;
}
nav ul li a:active {
    background-color: #ff7b00;
    color: black;
    text-decoration: double;
    border-top-color: whitesmoke;
    border-bottom-color: whitesmoke;
}